<!--Form for User Input/where Service comes in-->
<form #frm="ngForm" (ngSubmit)="updateEmp(frm)">
    <div class="">
        <input type="text" name="location" value="" ngModel>
        <button type="submit" name="button">Add Location</button>
    </div>
</form>


<!--Employee Button 1-->
<button type="button" name="button" (click)="getEmpFromServiceClass1()">Employee 1</button>
<ul class="list-group">
    <li *ngFor="let emp of empReceived1" class="list-group-info">{{emp}}</li> <!--change item to emp, no diff-->
</ul>
<pre></pre>

<!--Employee Button 2-->
<button type="button" name="button" (click)="getEmpFromServiceClass2()">Employee 2</button>
<ul class="list-group">
    <li *ngFor="let emp of empReceived2" class="list-group-info">{{emp}}</li>
</ul>
<pre></pre>

<!--Employee Button 3-->
<button type="button" name="button" (click)="getEmpFromServiceClass3()">Employee 3</button>
<ul class="list-group">
    <li *ngFor="let emp of empReceived3" class="list-group-info">{{emp}}</li>
</ul>
<pre></pre>